[2016-07-27 20:06] kdeberna opened #1 "Dependency Error When Installing via Composer"
I am running Magento 2.1.0 and attempting to install the TaxJar plugin via `composer require taxjar/module-taxjar` yielded:

[code]

[2016-07-28 00:05] fastdivision commented on #1
@kdeberna Merged in #2. Thanks for catching that!

[2016-07-28 00:05] #1 closed

[2016-08-19 16:01] rafaelstz opened #3 "README"
Hey Jake,
Thanks for this opensource module.
It would be nice if this repository have a README documentation with this information:
http://www.taxjar.com/guides/integrations/magento2/#getting-started-with-taxjar

Thanks

[2016-08-22 22:46] #3 closed

[2016-08-22 22:48] fastdivision commented on #3
@rafaelstz README officially added :+1: Thanks for the nudge!

[2016-10-03 15:49] seavenger opened #4 "Cron Error"
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Taxjar\SalesTax\Observer\ImportRates::execute() must be an instance of Magento\Framework\Event\Observer, none given, called in /httpdocs/vendor/taxjar/module-taxjar/Observer/ImportRates.php on line 208 and defined in /httpdocs/vendor/taxjar/module-taxjar/Observer/ImportRates.php:166
Stack trace:
#0 /httpdocs/vendor/taxjar/module-taxjar/Obs

[2016-10-04 17:41] fastdivision commented on #4
@seavenger Thanks for reporting this! I'll get it fixed today and push out a new version.

[2016-10-05 00:25] #4 closed

[2017-08-14 07:23] vignates opened #10 "Product Tax not working"
Hi,

We want to ignore tax for specific products in Magento by setting Tax Class to None. This is the default feature in Magento and it was working till we integrate TaxJar module.

Steps to reproduce:
1. Goto product edit page in Magento admin
2. Change Tax Class to None for a product.
3. Save the product and place an order.

Expected result: Tax shouldn't be applied to that product
Actual result

[2017-08-15 00:12] fastdivision commented on #10
Hi @vignates,

Thanks for reporting this. You're right, we shouldn't be collecting sales tax on products with a tax class set to "None". I'll get this PR merged shortly to ensure we pass a `99999` exempt tax code.

[2017-08-15 17:04] #10 closed

[2017-08-24 06:01] michaeldyl520 opened #12 "Do not support multi tax accounts for multi store view?"
I wan't configure tax accounts for multi store view in magento,but,when I connected taxjar account in magento2 current store setting(for example `default store view`),it will return `default config` store view,how can i configed it?

[2017-08-24 17:52] fastdivision commented on #12
Hi @michaeldyl520,

At this time our Magento extensions generally support one TaxJar account per Magento instance. We don't yet support store-specific nexus addresses under **Store > Nexus Addresses** and transaction sync filtered for multiple stores.

However, if you're only using TaxJar for sales tax calculations and you don't require multiple nexus addresses per TaxJar account, it's possible to

[2017-09-20 10:04] sunilit42 opened #13 "No tranasaction found when click on sync transcation"
Hello,

$statesToMatch = ['complete', 'closed'];

when i debug it query is

SELECT `main_table`.* FROM `sales_order` AS `main_table` WHERE (`updated_at` >= '2017-09-11 00:00:00') AND (`updated_at` <= '2017-09-20 23:59:59') AND (`state` = 'complete') AND (`state` = 'closed')

It should be OR condition for state

[2017-09-20 17:09] fastdivision commented on #13
Hi @sunilit42,

Which version of Magento 2 are you using? Here's what I'm seeing in the backfill process:

[code]

[code]

[2017-09-20 17:10] #12 closed

[2017-09-20 21:09] alloylab opened #14 "RFE: Transaction Sync Command"
It would be great to be able to sync transaction to TaxJar via the command line to capture any missed transactions.

For example: bin/magento taxjar:sync

[2017-09-20 21:30] fastdivision commented on #14
@alloylab I like this idea! We'd probably want to include some additional arguments to import date ranges or order IDs, otherwise fall back to the previous day. I'd also like to implement commands for syncing nexus addresses and backup rates.

I'll look into implementing this in the near future.

[2017-09-20 22:52] alloylab commented on #14
@fastdivision i agree... maybe the following commands...

bin/magento taxjar:rates;
bin/magento taxjar:nexus;

bin/magento taxjar:sync prev_day;
bin/magento taxjar:sync; defaults to bin/magento taxjar:sync prev_day
bin/magento taxjar:sync prev_week;
bin/magento taxjar:sync prev_month;
bin/magento taxjar:sync range 12/01/2016 to 12/31/2016;

[2017-09-21 06:35] sunilit42 commented on #13
We are using Magento 2.0.7

[2017-09-21 06:39] sunilit42 commented on #13
Taxjar\SalesTax\Model\Transaction

to buildToAddress function,

 $toAddress = [
            'to_country' => $address->getCountryId(),
            'to_zip' => $address->getPostcode(),
            'to_state' => $address->getRegionCode(),
            'to_city' => $address->getCity(),
            'to_street' => $address->getData('street')
        ];
$address->getRegionCode() for me getting Georgia
it

[2017-09-23 00:24] fastdivision commented on #13
@sunilit42 We require Magento 2.1+ for transaction sync. To perform a logical OR, we [specify multiple filters within a filter group](https://github.com/taxjar/taxjar-magento2-extension/blob/develop/Observer/BackfillTransactions.php#L181) correctly [based on the documentation](http://devdocs.magento.com/guides/v2.1/howdoi/webapi/search-criteria.html). In 2.0.7, there's [still some issues](https://

[2017-09-25 07:15] sunilit42 commented on #13
@fastdivision

thanks for your response, i already fixed in magento2.0.7 and working fine.

There is no cron for sync transaction everry day?

[2017-09-26 17:14] fastdivision commented on #13
@sunilit42 No cron jobs at the moment for transaction sync, just for backup rates. We sync orders and their corresponding refunds immediately after the order is updated via [sales_order_save_after](https://github.com/taxjar/taxjar-magento2-extension/blob/develop/etc/adminhtml/events.xml#L26) in a `complete` or `closed` state. Older transactions can be imported into TaxJar using the **Sync Transact

[2017-10-02 08:50] sunilit42 commented on #13
seems like you created event only for admin area, sometime order complete using frontend side as well

so that event should be global.

[2017-10-02 18:22] subbu1993 opened #15 "Error deleting nexus address"
## Preconditions
- Magento Version: 2.1.2
- TaxJar Version: 0.7.4
- PHP Version: 7.0.20-1~dotdeb+8.2
- PHP Memory Limit: 256M
- Backup States: FL
- Backup Last Updated: 10-02-2017

## Steps to reproduce
1) Delete an existing nexus address

## Expected result
1) Nexus address gets deleted
2) Backup rates have refreshed to not include counties from the deleted nexus address

## Actual result
1) An e

[2017-10-02 19:17] fastdivision commented on #13
@sunilit42 Can you provide an example of when Magento dispatches the `sales_order_save_after` event from a core module on the frontend? I'll investigate, thanks!

[2017-10-02 19:20] sunilit42 commented on #13
@fastdivision

let's example virtal product on cart, and you are using online payment method, so after order place order status is complete.

[2017-10-02 19:21] fastdivision commented on #15
@subbu1993 Thank you for the detailed report. Looks like an account-specific issue with our API. Can you send this info and your TaxJar account email to support@taxjar.com so I can take a closer look?

[2017-10-02 19:22] fastdivision commented on #13
Ah, that makes sense. I'll look into making this event global and test it out for virtual orders. Appreciate the help!

[2017-10-03 09:53] sunilit42 commented on #13
@fastdivision welcome :)

otherwise, remove event and make cron for synchronization order.

[2017-10-03 14:53] subbu1993 commented on #15
@fastdivision I have a support request open, I am closing this issue hence.

Thanks

[2017-10-03 14:53] #15 closed

[2017-10-03 19:21] fastdivision commented on #13
Thanks @sunilit42, moved that event to global for [v0.7.5](/taxjar/taxjar-magento2-extension/releases/tag/v0.7.5).

[2017-10-05 10:11] ilievski opened #16 "Refunds not synced in TaxJar"
Refunds are not synced into TaxJar when creditmemo is created.
When sales_order_save_after event is triggered on creditmemo creation in the observer SyncTransaction the order creditmemo collection is empty and refund is not synced to TaxJar.

[2017-10-05 17:36] fastdivision commented on #16
@ilievski Are you on v0.7.4 or 0.7.5 of our extension?

[2017-10-05 17:56] ilievski commented on #16
The module is updated to 0.7.5 but still cannot commit refund sync due to empty creditmemos collection.
I think the problem comes from CreditmemoService class where the the event dispatch happens before transaction commit.

[2017-11-11 00:08] fastdivision commented on #16
@ilievski Thank you for reporting this issue and I appreciate your patience. I'll release a fix shortly.

[2017-11-11 00:09] #13 closed

[2017-11-14 20:14] #16 closed

[2017-12-07 07:25] sunilit42 opened #18 "How to pass custom total while sync"
Hello,

in our system some extra total line, how to pass and show on that taxjar?

otherwise, it is showing different total

[2017-12-07 17:36] fastdivision commented on #18
Hi @sunilit42,

For additional fees you'd pass additional line items to our API in this method:

https://github.com/taxjar/taxjar-magento2-extension/blob/develop/Model/Transaction.php#L166

Here's how we add an extra line item:

https://github.com/taxjar/taxjar-magento2-extension/blob/develop/Model/Transaction.php#L219-L226

Does this answer your question? Are you using native / core functionality

[2017-12-22 00:08] #18 closed

[2017-12-22 13:44] sunilit42 commented on #18
Thanks for help :)

[2018-01-16 15:13] SayB opened #20 "Version still 7.0?"
Hey! ... wanted to upgrade this module and still see version 7.0 in etc/module.xml

https://github.com/taxjar/taxjar-magento2-extension/blob/813e82f3d6a10eda11b4b3bbed6bb4a07dbd9f8c/etc/module.xml#L21

[2018-01-19 20:32] #20 closed

[2018-04-13 17:05] fastdivision commented on #14
Merged #19, this is ready to go!

[2018-04-13 17:05] #14 closed

[2018-06-01 18:25] treii28 opened #26 "Taxjar charging shipping on 100% discount cart rule"
We want to extend a coupon to customers as part of a marketing promotion that gives them 100% off their cart for a single item. When the subtotal shows up in the cart, it shows $0 for all items and $0 for shipping but taxjar still seems to be charging tax on the fixed-rate cost of shipping. (the regular fixed rate would be $5, but the subtotal to the customer is $0. But the grand total is showing

[2018-06-01 21:51] treii28 commented on #26
Hmm, when I was looking at those places in the code, I was going by the suggestions of your support that changing those lines (or more specifically, your support referred primarily to the Smartcalcs line 161 and 162) would change the result in the cart for the shipping. However, after I sent the suggestion I went about making the changes and deploying them here locally and it doesn't actually do a

[2018-06-01 21:57] treii28 commented on #26
As an aside, I also noticed that at that point in the code, the 'getGrandTotal' function is also returning the $5 shipping amount (without the discount applied) if the coupon code has been added to the cart. As in if I remove the coupon code, the getGrandTotal function will return Product cost + shipping cost + product tax + shipping tax.  If I apply the product code, getGrandTotal only returns th

[2018-06-02 04:29] fastdivision commented on #26
Hi @treii28, I tested this fix locally and added a couple specs to verify that discounts applied to shipping will be passed on to our API. After applying the code, can you try clearing your checkout session to verify the tax isn't cached on your end? If you're still encountering issues, can you share screenshots of your discount cart rule from admin so I can try to reproduce? Thank you!

[2018-06-04 14:42] treii28 commented on #26
well not only am I still showing the tax on the last page, now if I go back a page, it gets stuck in a loop or something in the javascript trying to calculate the shipping and crashes the browser (chrome) tab.  And if I open it in firefox, I get the shipping calculation repeating down the page over and over and over and over when it finally stops the code.

[2018-06-04 15:26] treii28 commented on #26
hmmm, ok, I'll have to do more testing. I made the modifications in place and it was causing all those problems. So I pulled your separate branch to a different folder and copied the whole thing, re-ran setup:upgrade and setup:di:compile and I think it's working now.

[2018-06-04 16:26] treii28 commented on #26
Hmmm, ok, it seems to work but still trying to nail down what all needs to be flushed to make it work. I had trouble getting it to go away this time also. I hope I don't have to clear every single customer cart to get it functioning properly.

[2018-06-04 17:13] fastdivision commented on #26
@treii28 Glad that it's working now! When [caching API requests](https://github.com/taxjar/taxjar-magento2-extension/blob/80578434039de18caa0c810297902b7843ecead1/Model/Smartcalcs.php#L192), we set `taxjar_salestax_order` in the customer's checkout session with the complete order details. After applying the fix, customers that already have the shipping discount applied should have a different `shi

[2018-06-13 19:36] treii28 commented on #26
I don't think it's going to be a huge problem as we have a limited number of coupons of this sort in circulation and currently that's the first coupon we've issued as it's a new site. But good to know for future reference. Is there any way of being notified when this is added to master?  I get errors/warnings now due to the modified code base whenever running git on my own master.

[2018-06-21 00:56] fastdivision commented on #26
@treii28 I'll try to get #27 merged and released by next week. Refactored some of the code today. I'll close out this issue once it's done. Thanks for your patience!

[2018-07-02 23:33] #26 closed

[2018-11-03 14:40] fredpope opened #38 "Popup For Admin Not in Code"
When I deploy the code into a 2.2.6 instance and I try connect to taxjar from the admin, I am getting a 404 file not found error on this item

/adminhtml/Magento/backend/en_us/taxjarPopup.js

I fixed this by adding a symbolic link for now to the correct location at Taxjar_SalesTax/js/popup.js

[2018-11-03 14:51] fredpope opened #39 "Nexus Addresses Not Working"
Clicking on the Nexus Addresses reveals a blank page.

[2018-11-09 18:52] dankoz51 commented on #38
having the same issue

[2018-11-09 23:32] fastdivision commented on #38
Thanks for reporting @fredpope and @dankoz51, we're looking into this issue!

[2018-11-12 15:39] glo-arandazzo opened #40 "Incorrect property name: Smartcalcs.php line 230"
FYI - the reference to $this->_logger() on line 230 of Taxjar\SalesTax\Model\Smartcalcs is incorrect.

It should use $this->logger().

Thanks,

Adam

[2018-11-14 18:13] ryanreeves-taxjar commented on #38
Thanks for your patience while we looked into this.  It appears that the error is from a cached "requirejs-config.js" file found in the pub/static folder.  You should be able to correct the problem by running this command from the console:

 php bin/magento setup:static-content:deploy

*note that you may need to add the '-f' flag to force it depending on your developer mode.

Please let us know if

[2018-11-14 19:07] ryanreeves-taxjar commented on #39
Thanks for letting us know about this @fredpope.  We're taking a look into the issue and will let you know as we have more details!

[2018-11-15 18:02] ryanreeves-taxjar commented on #40
Thanks for reporting this @glo-arandazzo.  We should have a fix out soon!

[2018-11-15 21:43] dankoz51 commented on #39
We have the same issue, nothing on the screen and i cant find anything in the logs

[2018-11-15 21:56] ryanreeves-taxjar commented on #39
Thanks @dankoz51.  Could you try these steps from this thread and let me know if that solves your problem?

https://github.com/taxjar/taxjar-magento2-extension/issues/38#issuecomment-438762744

If you're still having trouble, please feel free to reach out to our support team at support@taxjar.com so we can respond to you directly.  Thanks!

[2018-11-15 22:01] dankoz51 commented on #38
This has always been done as part of every deployment.  And does not seem to fix either problem.  I will try again.

[2018-11-19 22:03] marshallthornton opened #41 "No way to set products as fully taxable"
According to the [API reference](https://developers.taxjar.com/api/reference/#categories) for categories, if you want to tax the item as fully taxable without any special category adjustments you should send no "product_tax_code" for that line item. This module does not seem to support this since #10 now causes "None" to send the fully exempt tax code and selecting a different category can cause u

[2018-11-19 22:38] ryanreeves-taxjar commented on #41
Thanks for taking the time to report this issue @marshallthornton.  We're hoping to prioritize a fix for this and will get a release pushed soon.

[2018-11-26 16:56] fastdivision commented on #40
Fixed in #42

[2018-11-26 16:56] #40 closed

[2018-11-28 22:26] beechyrb opened #44 "Magento Cloud EE Blank Config Page"
After installing and configuring TaxJar on Magento Cloud EE we are getting a blank page on the Tax Configuration page. Locally in our development environment it works fine.
![screenshot 2018-11-28 17 22 37](https://user-images.githubusercontent.com/7995987/49186447-b24b6500-f332-11e8-828e-c2e75305cdd5.png)

[2018-11-29 00:14] ryanreeves-taxjar commented on #44
Thanks @beechyrb we'll take a look into this.  Could you please confirm the version of Magento you're using?

[2018-11-29 00:17] beechyrb commented on #44
Magento Version 2.2.5

[2018-11-29 18:20] ryanreeves-taxjar commented on #39
Hi @dankoz51 and @fredpope,

I wanted to check-in and see if you're still experiencing this issue.  Thanks!

[2018-11-29 18:20] ryanreeves-taxjar commented on #38
Hi @dankoz51 and @fredpope,

I wanted to check-in and see if you're still experiencing this issue.  Thanks!

[2018-11-29 20:12] dankoz51 commented on #38
I created a symlink to fix this but then the registration screen is blank screen as reported on issue #39

[2018-11-29 20:14] dankoz51 commented on #39
stil having the issue

[2018-11-29 20:58] ryanreeves-taxjar commented on #39
Thanks @dankoz51.  Because we're unable to reproduce this issue on a vanilla installation of Magento, could you email our support team at [support@taxjar.com](mailto:support@taxjar.com)?  Please mention this issue in the email and we will continue with more in depth troubleshooting.

[2018-11-29 20:58] #39 closed

[2018-11-30 11:22] EmilyPepperman commented on #44
We had a similar issue on our community site, it ended up being other extension conflicts. Try disabling Vertex and Dotmailers extensions if you are not using them ... they ship with 2.2.5

[2018-12-03 21:58] ryanreeves-taxjar commented on #44
Hi @beechyrb, I'm unable to reproduce this issue on a vanilla installation of Magento Cloud.

If you're still experiencing trouble, could you email our support team at [support@taxjar.com](mailto:support@taxjar.com)?  Please mention this issue in the email and we can continue with more in depth troubleshooting.

[2018-12-03 21:58] #44 closed

[2018-12-03 22:20] ryanreeves-taxjar commented on #38
I'm going to go ahead and close this issue since we can't reproduce it in a vanilla installation of Magento.  If you're continuing to experience errors, please email our support team at [support@taxjar.com](mailto:support@taxjar.com)?  You can mention this issue and we will continue with more in-depth troubleshooting.

[2018-12-03 22:20] #38 closed

[2018-12-06 18:43] ryanreeves-taxjar opened #46 "Syncing backup rates fails if /var/tmp directory doesn't exist"
If the <magento>/var/tmp folder does not already exist, sycning backup rates will fail as it attempts to write to that directory.  We should first check if the directory exists, and if not create it.

Add this code to class ImportRates, function _importRates(), line 243:

[code]
<img width="1260" alt="screen shot 2018-12-06 at 11 23 58 am" src="https://user-images.githubusercontent.com/44789510/49

[2018-12-20 20:23] treii28 opened #47 "module.xml is not being updated"
It appears the module.xml shows the current version of any branch to be v1.0.0

[2018-12-20 20:25] treii28 opened #48 "Getting exception trying to logout from customer account"
Magento v2.2.4 running in Apache 2 on centos 7 with php 7.1

Tried with v1.0.3 and latest v1.1.1

When a customer is logged in and goes to log out, an exception is generated which seems to involve taxjar for some reason:

`1 exception(s): Exception #0 (Zend_Http_Exception): Invalid header line detected Exception #0 (Zend_Http_Exception): Invalid header line detected #0 /home/envystag/public_html/v

[2018-12-20 22:34] ryanreeves-taxjar commented on #47
Hi @treii28,

Thanks for taking the time to look through our codebase; we appreciate all the help we can get!  However I think you may be confusing the composer.json version with the setup_version found in module.xml.

By browsing through older tags of this repository, you can see that the composer.json version does upgrade with each new release.  Here's an example from the 1.1.0 tag:  https://git

[2018-12-20 22:34] #47 closed

[2018-12-20 22:48] ryanreeves-taxjar commented on #48
Hi @treii28,

Thanks for reporting this issue.  This is actually a problem with the Magento 2 framework not properly supporting HTTP/2 requests.  We've opened several issues with Magento to address this specifically:

- [https://github.com/magento/magento2/issues/19441](https://github.com/magento/magento2/issues/19441)
- [https://github.com/magento/magento2/issues/19442](https://github.com/magento

[2018-12-20 22:48] #48 closed

[2019-01-01 02:41] crankycyclops opened #49 "Use tax class of child product when product is configurable"
I have a configurable product that has both downloadable and physical options (choice between an e-book and a print book.) Right now, the taxjar module determines whether or not sales tax should be applied based on the tax class of the parent configurable product, not the selected child product. This results in sales tax being applied to the e-book, even though in my state sales tax is not collect

[2019-01-02 16:42] ryanreeves-taxjar commented on #49
Thanks @crankycyclops!  We'll take a look into this and get back to you soon.

[2019-01-16 20:54] fastdivision commented on #41
Fixed in #51 to rename "None" to "Fully Taxable" when assigning a product tax class to a TaxJar product category. #10 addresses a different issue with not setting a product tax class at all on a product. When reviewing both tax classes on products and the underlying TaxJar categories on tax classes, this update should reduce confusion.

[2019-01-16 20:54] #41 closed

[2019-01-26 23:05] crankycyclops commented on #49
Hi, I was just wondering if there's been an update on this. I've already had customers that were erroneously charged sales tax in CA, and for now I've had to manually refund them for the difference. Thanks!

[2019-01-26 23:15] crankycyclops opened #56 "Error when issuing partial refund with 0 qty set for all products"
If you have transaction sync enabled in the taxjar module and issue a credit memo with all product qty's set to 0 and a non-zero adjustment refund, the taxjar module throws an error. My guess is that it's trying to sync the refund to Taxjar so it can update the transaction, and this is what's causing the error, but I'm not sure.

Steps to reproduce:

1. Log into the admin after completing a succes

[2019-01-28 16:32] ryanreeves-taxjar commented on #56
Hi @crankycyclops, thanks for reporting this.

Could you please confirm which version of the extension you're running?  We recently pushed a fix for this which should resolve the issue you're encountering.

[2019-01-29 05:04] crankycyclops commented on #56
1.1.1, installed via composer. I'll wait for the next release then :) Thank you!

[2019-02-03 01:54] #56 closed

[2019-02-03 12:38] crankycyclops commented on #49
I've been doing some digging into this myself, and have found a solution that works for me: https://magento.stackexchange.com/a/243665/73086

The issue has to do with how Magento determines the tax class of a configurable product during checkout. Once I implemented a custom module with the aforementioned plugin, the tax class is determined, in the case of a configurable product, but the selected c

[2019-02-13 18:44] ryanreeves-taxjar commented on #46
PR:  https://github.com/taxjar/taxjar-magento2-extension/pull/57

[2019-02-16 16:35] dankoz51 commented on #39
I finally tracked this down this issue is that as of magento 2.2 there is not more admin feature to disable module output.  Yet there were still entries in the core_config_data table. The code still disabled the output for the static content publishing.

So removing
advanced/modules_disable_output/Taxjar_SalesTax  = 1
from the core config data table solved the issue

[2019-02-19 17:53] #46 closed

[2019-03-17 19:33] dorgan opened #59 "multiple refunds for the same order shipping issue"
When doing multiple credit memos on a single order subsequent credit memos contain full qty's of the product refunded, but only include the shipping that was refunded for that specific credit memo.

[2019-03-17 19:55] dorgan commented on #59
inside of `Model/Transaction.php` instead of
`$lineItem['quantity'] = (int) $orderItem->getQtyRefunded()`
I believe you really want:
`$lineItem['quantity'] = (int)$item->getQty();`

Which gets the qty included in the refund, not the total qty refunded for the order.

[2019-03-18 17:07] ryanreeves-taxjar commented on #59
Thanks for reporting this @dorgan!  We are going to test this internally and update this thread with our results.

[2019-06-20 14:43] AdminLinenStore opened #64 "not all transactions synced"
I did transaction sync in the period (from / to ) and compare with transactions that results from magento2 backend from the same period of time then I compared transaction/order number one by one. Apparently the order number from taxjar download file is skipped from time to time (randomly). which mean some transactions in that period did not get synced. I did a numerous time resync the transaction

[2019-06-20 14:45] AdminLinenStore commented on #64
Magento Version: 2.2.1
TaxJar Version: 1.1.0
PHP Version: 7.0.32-1~dotdeb+8.1
PHP Memory Limit: 1024M
Backup States: NY
Backup Last Updated: 06-01-2019

[2019-06-20 16:01] ryanreeves-taxjar commented on #64
Hello @AdminLinenStore.  We only sync transactions that are in a "complete" or "closed" state.  If you find that orders in "complete" or "closed" state still aren't syncing, could you please contact our support team at support@taxjar.com?

[2019-06-20 16:29] AdminLinenStore commented on #64
Hi, I found out that transactions that customer address states and zipcode dont match will not sync (e.g. use enter Maryland as states and put zipcode from Massachusetts) we don't have zipcode/states check integrated on our store yet so that can happen.

Thank you!

[2019-06-20 16:31] ryanreeves-taxjar commented on #64
Thanks @AdminLinenStore.  If there is anything else we can help with please don't hesitate to reach out again!

[2019-06-20 16:31] #64 closed

[2019-07-09 15:44] andrew-ebsco opened #66 "Address validation bug"
Hello TaxJar!

When Magento 2 is set to production mode, the TaxJar address validation mixins are still deployed in `setup:static-content:deploy`, even if address validation is not enabled. As a result, on the customer account edit address page (`customer/address/edit`), the `taxjar/module-taxjar/view/base/web/js/address_validation.js` is loaded on the page. Since the element `#tj-suggested-addres

[2019-07-09 16:42] ryanreeves-taxjar commented on #66
Thanks for reporting this issue @andrew-ebsco!  We're going to test this issue internally, and if it's reproducible we'll get a fix out shortly.

[2019-07-09 20:25] ryanreeves-taxjar commented on #66
Hey @andrew-ebsco, we've created a PR with a fix for this issue here:  https://github.com/taxjar/taxjar-magento2-extension/pull/67

Thanks for your help in reporting and fixing this!

[2019-07-09 22:46] fastdivision commented on #66
Fixed in #67

[2019-07-09 22:46] #66 closed

[2019-07-10 18:29] andrew-ebsco commented on #66
Thanks for the update!

[2019-08-02 09:32] FerihumF opened #73 "Javascript issue in checkout prevents proceeding to billing step"
Hello,

so we had the situation on our production system, where customers were not able to proceed to the billing step in checkout, because input validation on the region field failed.

As I digged in to it, I found out that the shipping.js script is using the shipping address data from the quote to overwrite input data before the quote is actually updated with the input data, thus resulting in un

[2019-08-02 18:37] ryanreeves-taxjar commented on #73
Hi @FerihumF, thanks for reporting this!  We're going to take a deeper look into this issue and will follow-up with our findings.

[2019-08-05 22:01] ryanreeves-taxjar commented on #49
Thanks @crankycyclops.  I just wanted to let you know that this issue has been resolved in our main branch.  Please let us know if you run into any more issues!

[2019-08-05 22:01] #49 closed

[2019-08-12 16:14] ryanreeves-taxjar commented on #73
HI @FerihumF, thanks again for your help with reporting and troubleshooting this issue.  We've addressed the bug in this PR:  https://github.com/taxjar/taxjar-magento2-extension/pull/74

[2019-08-12 16:14] #73 closed

[2019-08-29 22:34] uabassguy opened #77 "Unit testing: Class 'PHPUnit_Framework_TestCase' not found"
PHP Fatal error:  Class 'PHPUnit_Framework_TestCase' not found in vendor/taxjar/module-taxjar/Test/Unit/GetterSetterTest.php on line 22

PHPUnit 6.5.14
Magento 2.3.2
PHP 7.2.20 (cli)

PHPUnit 6.x is now namespaced, recommended approach going forward is to change this to PHPUnit\Framework\TestCase

PR open here, please review and if possible add it to a new tagged release
https://github.com/taxjar/

[2019-10-15 13:20] elfeffe opened #84 "Doesn't work when $eavAttribute->getDefaultFrontendLabel() is null"
When I go to Sales - Tax I get a white screen.
And error log says we are trying to setLabel on null.
Seems to be a problem with some attribute, and I think it's this one customer.custom.mgs_social_fid

PHP message: PHP Fatal error: Uncaught TypeError: Argument 1 passed to Vertex\Tax\Model\FlexField\FlexFieldProcessableAttribute::setLabel() must be of the type string, null given

[2019-10-15 13:33] elfeffe commented on #84
This is the problem

$eavAttribute->getDefaultFrontendLabel()

Sometimes that returns null, and the extension doesn't work at all.
Not related to 2.3.3, but a bug

[2019-10-15 15:34] ryanreeves-taxjar commented on #84
Thanks for reporting this issue @elfeffe.  We'll take a look into it and let you know what we find!

[2019-10-21 02:27] kanthikiran1988 opened #85 "Id Required Issues on Orders Page"
When I install the TaxJar extension I could not View Orders Page[Sales -> Orders].

Version: Magento 2.2.8
TaxJar Version: 1.2.0 [Which is available in Magento Marketplace]

Below is the developer trace:

[code]

[2019-10-27 23:36] kanthikiran1988 opened #87 "In Store Pickup"
How to Handle In-Store Pickup with Tax using this Extension?

[2019-10-28 19:30] ryanreeves-taxjar commented on #87
Hi @kanthikiran1988,

As this doesn't appear to be a technical issue, could you please email our support team at support@taxjar.com?  Thanks!

[2019-10-28 19:30] #87 closed

[2019-10-30 15:23] elfeffe opened #89 "Division by Zero"
I'm trying to issue a Credit Memo for an unshipped order.
I create it leaving default Magento data, it says 1 in qty to refund.
The customer bought a configurable product, with a simple of course.
When I save, it throws "Division by Zero" error on this line
`$lineItem['unit_price'] = $orderItem->getAmountRefunded() / $lineItem['quantity']`

For some reason this line
`$lineItem['quantity'] = (int)

[2019-10-31 03:00] fastdivision commented on #77
Resolved in #76

[2019-10-31 03:00] #77 closed

[2019-10-31 10:39] alex91ckua commented on #84
Temporary fix:
`UPDATE eav_attribute set frontend_label='' WHERE frontend_label is NULL;`

[2019-10-31 11:44] elfeffe commented on #89
When $type is refund
`if ($type == 'refund' && method_exists($item, 'getOrderItem')) {`

This is the $lineItem
[code]

Quantity is 0, I think you are missing some IF there.
I can't believe that nobody is reporting this, or this is a problem related to the latest Magento, or there is a lot of people seeing that message and paying more taxes because of this.

[2019-11-07 17:36] FabioMasala opened #92 "Taxjar randomically not calculating taxes on checkout"
We are experiencing a problem on the checkout page. Randomly it happens that when we land on the checkout page the total is calculated without taxes.

This is the case when sometimes this happens:
- user is logged in
- the user already has a valid address previously saved
- virtual product on cart
- the taxes are calculated based on billing address

If we update the address even without modifying

[2019-11-07 18:35] ryanreeves-taxjar commented on #92
Thanks @FabioMasala, we'll take a look into this issue and let you know what we find!

[2019-11-08 08:25] FabioMasala commented on #92
@ryanreeves-taxjar thank you for your response.

[2020-01-10 15:27] dani97 opened #97 "Multi-line street address validation"
Customer address with two street lines are not validated by taxjar address validation
I examined the code and found https://github.com/taxjar/taxjar-magento2-extension/blob/bdbc45ce804506d358552ebf610f00acedf194aa/view/base/web/js/model/address_validation_core.js#L45 doesn't send all street lines to taxjar service. I created a mixin and sent the value. Found taxjar webapi ignoring extra street lin

[2020-01-23 16:54] ryanreeves-taxjar commented on #89
Addressed in this PR:  https://github.com/taxjar/taxjar-magento2-extension/pull/99

[2020-01-29 13:55] sumeet-synergytop commented on #84
@elfeffe  @ryanreeves-taxjar
how to fix this issues ?
i am also getting this error -  Uncaught TypeError: Argument 1 passed to Vertex\Tax\Model\FlexField\FlexFieldProcessableAttribute::setLabel() must be of the type string, null given

[2020-01-29 16:47] ryanreeves-taxjar commented on #85
Hi @kanthikiran1988, we've released a new version of our extension to the Magento Marketplace which should address this issue.  If you continue to experience this error after updating, please email our support team (support@taxjar.com) and include a link to this issue.  Thanks!

[2020-01-29 16:47] #85 closed

[2020-01-29 16:51] ryanreeves-taxjar commented on #84
@elfeffe @sumeet-synergytop It looks like that error is originating in the Vertex extension.  Could you please try disabling that extension to see if it resolves the error?

[2020-01-29 16:58] sumeet-synergytop commented on #84
@ryanreeves-taxjar
Okay
If we are disabling vertex extension then what about vertex functionality?

[2020-01-29 17:19] ryanreeves-taxjar commented on #84
@sumeet-synergytop  We don't recommend using Vertex concurrently with our extension.  If you have additional questions around this, please email our support team at support@taxjar.com.

[2020-01-29 17:19] #84 closed

[2020-01-29 17:24] ryanreeves-taxjar commented on #97
Thanks @dani97.  We'll take a look at this in a future release and let you know what we find!

[2020-01-30 23:47] elfeffe commented on #84
I don’t use Vertex, this is very easy to say “we don’t recommend using
Vertex with our extension”, instead of fixing the problem, you just do as
if it doesn’t exist.
Your code is not good, you should fix it as we did in our system, a
beginner can fix it in 10 minutes and make your extension compatible with
others.
I never used Vertex, so I use some other extension with the same problem.
But I know

[2020-01-31 00:59] fastdivision commented on #84
@elfeffe Can you elaborate on the fix you used here specifically in the TaxJar extension? The error appears to come from the Vertex extension, which is bundled into Magento core. Please review the [patch](https://github.com/magento/magento2/issues/25403#issuecomment-557253300) provided in this [issue](https://github.com/magento/magento2/issues/25403):

**It appears this issue was fixed in v3.0.0 o

[2020-01-31 18:37] ryanreeves-taxjar commented on #89
This PR has been merged into the 'develop' branch and will be included in our next release.  Thanks @elfeffe!

[2020-01-31 18:37] #89 closed

[2020-01-31 18:38] ryanreeves-taxjar commented on #59
Opened PR https://github.com/taxjar/taxjar-magento2-extension/pull/102 to address this.

[2020-04-17 13:55] dusanmisic opened #123 "Wrong tax calculation if coupon code is applied"
Hi,

### Description

We are experiencing wrong tax calculation on checkout - payment step.
Issue reproduced on clean Magento 2.3.4 with sample data and TaxJar 1.4.9
There are more than one product in cart (in our example, we will show with one product - qty: 6). And if "Cart Price Rules" -> Coupon code is applied with Fixed amount discount (Discount Amount: $64) - tax is not calculated properly.

[2020-04-28 15:55] ryanreeves-taxjar commented on #97
Hi @dani97.  We have some technical limitations that prevent supporting multiple streets at this time.  We're working on some internal changes to better support this and I'll update again once those changes are completed.  Thanks for your patience and stay tuned!

[2020-04-28 18:51] ryanreeves-taxjar commented on #123
Hi @dusanmisic, I believe you encountered an error that was fixed in [PR 118](https://github.com/taxjar/taxjar-magento2-extension/pull/118).  Could you please update to the latest version of the TaxJar extension and try again?

[2020-04-28 18:52] ryanreeves-taxjar commented on #59
Closing this issue now that PR #102 has been merged.

[2020-04-28 18:52] #59 closed

[2020-05-18 14:05] dusanmisic commented on #123
Hi @ryanreeves-taxjar,

Thank you for your efforts. This is exactly what we needed. It works as expected now.

Thanks once again,
Dusan

[2020-05-18 15:09] #123 closed

[2020-06-23 07:50] NickdeK opened #141 "Multiple suggested addresses list items rendered"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
We use the default Magento Onepage checkout that is customized a bit. When using the module wi

[2020-06-23 08:05] NickdeK commented on #141
And a video recording of the issue: https://d.pr/v/fwYuwQ

Some screenshots as well:
**Initial load with preloaded address of the customer**
Shows three "Suggested Addresses" blocks
![Screenshot 2020-06-23 at 10 02 05](https://user-images.githubusercontent.com/6631170/85376931-a89ed900-b538-11ea-85fc-1af943d387ed.png)

**After changing the postal code**
Shows six "Suggested Addresses" blocks
![che

[2020-06-23 10:11] NickdeK commented on #141
Found the issue! It was a inline svg that had a `shipping` id on a `g` element. So the `jQuery('#shipping, .onestep-shipping-address')` selector returned two elements and the messed up everything.

I think it would still be nice of the whole component could be loaded by adding the KO component to the checkout layout instead of moving it with jQuery, that would also make things easier if you ever w

[2020-06-23 10:11] #141 closed

[2020-06-25 09:48] NickdeK opened #142 "Address not validated if postalcode is not filled in last"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
When filling in the address fields and a user decides to fill in the address fields in a rando

[2020-06-26 16:33] ryanreeves-taxjar commented on #142
Thanks for reporting this @NickdeK (and especially for the video)!  Could you let us know if you have any 3rd party checkout extensions installed?

[2020-07-03 15:25] leoquijano opened #145 "Orders and Credit Memo admin grid pages break when using custom table prefix"
### Prerequisites

- [X] Are you running the latest version of our extension?
   Version 1.5.4

- [X] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?

- [X] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

When using TaxJar on a Magento installation that uses a custom table prefi

[2020-07-06 08:46] NickdeK commented on #142
Yes, quite a few, but disabling them still results in the above issues.

[2020-07-19 17:41] itecedor commented on #145
This also just happened to me and caused me to downgrade back down. I went from version 1.5.0 to 1.5.3 and admin sales grid failed to load due to SQL error:

[code]

Running 2.3.5-p1

[2020-07-22 23:25] ryanreeves-taxjar commented on #145
Thanks for reporting this @leoquijano and @itecedor!  We'll be looking into this PR shortly.

[2020-07-24 14:47] gxrobb commented on #145
We are experiencing the same issue, toggling taxjar off seems to fix it. We get the same error, no table prefix is shown when targeting the sales_order table.

[2020-08-06 10:59] sandeep570 commented on #145
Even I am facing the same issue when I try to filter with Order status. Any solution for this?

[2020-08-06 15:29] ryanreeves-taxjar commented on #145
@sandeep570 @gxrobb @itecedor @leoquijano

PR #148 addresses this issue and will be available in the next release.  If you choose to use it before the release, please feel free to share any feedback you have!

[2020-08-06 15:32] sandeep570 commented on #145
@ryanreeves-taxjar  I have fixed the issue as below and if it is ok I will use if not any better code please let me know.

--- a/vendor/taxjar/module-taxjar/Plugin/AddTjSyncDateToGrid.php	2020-08-06 17:57:00.915430210 +0530
+++ b/vendor/taxjar/module-taxjar/Plugin/AddTjSyncDateToGrid.php	2020-08-06 17:56:32.419483000 +0530
@@ -35,18 +35,20 @@
         $collection
     ) {
         if ($collection

[2020-08-06 15:35] sandeep570 commented on #145
@ryanreeves-taxjar  I have fixed the issue as below and if it is ok I will use if not if u have any better code please let me know.

![Screenshot from 2020-08-06 21-04-43](https://user-images.githubusercontent.com/45820900/89551404-892de800-d828-11ea-84a9-11df33587887.png)

[2020-08-06 15:37] ryanreeves-taxjar commented on #145
@sandeep570 I would recommend using PR #148

[2020-09-02 10:41] APanteleychuk commented on #92
I think it happens then the customer address(State) not added in nexus address. I have this problem too.

[2020-09-02 11:07] APanteleychuk opened #155 "Customer Sales Tax Exemptions not work"
### Description
When I set the TaxJar Exemption Type field (wholesale) for a specific customer, I still have an additional tax on the checkout.

### Steps to Reproduce

1. In admin panel need set in specific customer TaxJar Exemption field - wholesale;
    (Like here https://www.taxjar.com/guides/integrations/magento2/#sales-tax-calculations)
2. Need to login for this customer
3. Add some (simple,

[2020-09-02 16:24] ryanreeves-taxjar commented on #155
Hi @APanteleychuk!  Can you please update to the latest version of our extension (v1.5.6) and confirm this problem still exists?

[2020-09-02 16:24] #145 closed

[2020-09-02 16:26] ryanreeves-taxjar commented on #92
Hi @APanteleychuk!  Can you please [enable debugging mode](https://www.taxjar.com/guides/integrations/magento2/#debug-mode) and confirm there are no errors being logged?  If you continue to experience issues, please feel free to email our support team at support@taxjar.com.

[2020-09-21 20:09] ryanreeves-taxjar commented on #155
Closing this issue as inactive, but if the problem persists please feel free to reach out again!

[2020-09-21 20:09] #155 closed

[2020-09-22 16:08] ryanreeves-taxjar commented on #92
I'm still unable to recreate this issue.  If anyone can provide step-by-step instructions to recreate it I'd be happy to reopen it!

[2020-09-22 16:08] #92 closed

[2020-09-24 00:51] slijack opened #157 "removing taxjar"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### Expected Resu

[2020-09-24 00:52] slijack commented on #157
Removed taxjar.  Cart is broken.  Getting this error message when I go to customers in admin panel.
Class Taxjar\SalesTax\Model\Attribute\Source\CustomerExemptionType does not exist

[2020-09-29 19:44] ryanreeves-taxjar commented on #157
Thanks @slijack for reporting this issue!  We're investigating it internally; in the meantime, feel free to reach out to support@taxjar.com for additional assistance.

[2020-09-29 21:42] slijack commented on #157
Hello, thank you for the reply but the issue still persists.

How to reproduce the issue -  Register with site, add item to cart – proceed to checkout – complete form – process payment.

ID is not coming back from PayPal on some transactions.

I think the issue is the API called is not sending the Cart ID back to my shop?

From: Ryan R <notifications@github.com>
Sent: Tuesday, September 29, 2020 1

[2020-10-20 14:15] danmentzer opened #161 "Unable to filter CreditMemo Grid by created_at date filter"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

After Installing Taxjar extension credit memo grid can't be filtered by created at date.

###

[2020-10-28 10:04] yavuz opened #163 "1.4.9 to 1.5.8 update issue"
Hi,

### Description
I want to update from 1.4.9 to 1.5.8. But I get error when I run setup:upgrade.

`bin/magento setup:upgrade`

[code]

### Versions

- [x] Magento 2.3

- [x] Magento Cloud

- [x] PHP 7.x

Database Result:
![database](https://user-images.githubusercontent.com/98246/97421828-02b40e80-191e-11eb-9e63-3051c9a55d68.jpg)

[2020-10-28 16:18] ryanreeves-taxjar commented on #163
Thanks for reporting this issue @yavuz!  We've opened a ticket internally to investigate and will update you with our progress!

[2020-10-28 16:21] ryanreeves-taxjar commented on #161
Hi @danmentzer.  Thanks for reporting this issue!  Could you please confirm the version of the TaxJar extension you're using?  I believe this issue was addressed in PR #148

[2020-10-30 04:45] danmentzer commented on #161
Hi @ryanreeves-taxjar  Yes I can confirm the issue with using version 1.5.8 and version 1.5.7 and on both Magento 2 open source and Commerce.

I also can confirm that the commit you mentioned is there but both M2 sites have the same error when trying to apply any filter to the credit memo grid.

[2020-11-13 21:08] danmentzer commented on #161
Hi @ryanreeves-taxjar

I noticed you just released a new version of the taxjar extension anychance that fixes the issue I brought up?

[2020-11-24 12:49] joweecaquicla opened #168 "Suggested Address Not Working"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

When the suggested address is selected in the checkout page, the selected goes back to the or

[2021-01-14 21:19] jkcr commented on #161
@danmentzer

I do not believe this is fixed in version 1.6, which is the latest version as of the time of this writing.

I upgraded on staging, but issue persists. Disabling the tax jar plugin resolves the issue.

[2021-01-22 22:49] rsamartino opened #170 "'Please redeploy production mode' admin error shows even in production mode"
### Prerequisites

- [yes, 1.6.0 ] Are you running the latest version of our extension?
- [yes ] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [yes ] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
Navigating to the Sales > Tax configuration admin page shows the error 'Please

[2021-01-29 16:36] jkcr commented on #161
I ran into this same issue working on another plugin, when trying to extend the grid, and there is a fairly simple fix.

Most likely this would get placed in the Plugin/AddTjSyncDateToGrid.php file, although I haven't really looked at how tax jar is doing it. You could also add a simple di.xml override just for the creditmemo collection.

`    protected function _construct(){
        $this->addFil

[2021-02-17 17:55] danac-gs opened #173 "Subtotal change after tax is applied - rounding to 2 decimal places not implemented"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
Magento rounds prices to 2 decimal points, as documented here https://docs.magento.com/user-gu

[2021-02-18 14:06] magemanish opened #174 "Magento 2.1.8 Fatal error: Uncaught TypeError: Argument 3 passed TaxjarCommonTaxCollector::afterMapItem()"
Hi

### Description
Magento 2.1.8 found issue when add to cart.

<b>Fatal error</b>:  Uncaught TypeError: Argument 3 passed

### Expected Result
<b>Fatal error</b>:  Uncaught TypeError: Argument 3 passed to
 Taxjar\SalesTax\Plugin\Tax\Model\Sales\Total\Quote\TaxjarCommonTaxCollector::afterMapItem() must be an instance of Magento\Tax\Api\Data\QuoteDetailsItemInterfaceFactory, none given, called in

[2021-03-05 17:02] perryholden commented on #155
This does happen with version 1.6.0. What is happening is when a customer is set to tax exempt, then TaxJar returns the native Magento tax collector results. If a user has fallback tax rules set up in Magento, then those rules are triggered.

Basically what happens is that if `\Taxjar\SalesTax\Model\Smartcalcs::_isCustomerExempt` returns true, then the response object is never created, so it retur

[2021-03-10 00:25] fastdivision commented on #155
Thanks for sharing this behavior @perryholden. You're right, if there are native tax rules for a customer tax class with exempt customers then tax may still be applied. On the other hand, our backup rate feature allows you to select specific customer tax classes as shown below. If you wanted to skip native calculations for exempt customers, you would remove the tax rule assigned to the exempt cust

[2021-03-18 16:38] fastdivision commented on #161
Fixed in #171

[2021-03-18 16:38] #161 closed

[2021-04-06 22:20] cypher909 opened #181 "Taxjar attribute tj_ptc creates error when getting all options via magento core function"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

I have an extension that calls $attribute->getOptions() on the product attributes. When it ca

[2021-05-11 09:04] rangerz opened #183 "Address Validation should not allow work for saved address in checkout page"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
Address validation work fine for guest in checkout page.
It also work fine in customer dashboa

[2021-05-19 06:16] syed-ziffity opened #185 "Issue with tax price conversion (Canada)."
### Prerequisites

- [ ] I have used the latest version. (1.6.3)
- [ ] Yes I have review your integration gudide.
- [ ] Yes I have checked the issue already logged in the GitHub there is no issue related to price conversion.

### Description
ISSUE - The tax is NOT in line with the 13% tax set by TaxJar (Ontario N8W3T6 = 13% combined tax percentage)
the issue is occurring only when adding shipping

[2021-06-17 17:37] rangerz commented on #183
Updated Steps to Reproduce part.
it needs "New Address" to trigger address suggestion. (It should be not happened I think)

[2021-06-21 15:36] bheindl opened #190 "Sync observers prevent transaction sync in cron or console environment"
### Prerequisites

- Install taxjar module.
- Implement a cron or simple script, which updates many orders or creditmemos (e.g. to get updates from an erp system).

### Steps to Reproduce

When running this cron job or script the first order is updated regularly and transactions are synced to taxjar. But all subsequent orders and creditmemos are prevented from beeing transmitted due to a registry

[2021-07-22 15:08] bm-eventstable opened #194 "Address validation fails to save phone number when suggesting validated version of address already saved to customer"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
During checkout as a registered customer, if an existing saved address is selected and the Tax

[2021-08-03 19:41] mykhailo-superiorseating commented on #12
Any updates on this?

[2021-10-08 06:45] gmarszal opened #210 "Higher matching version 1.7.0 of taxjar was found in public repository packagist.org than 1.6.5 in the Magento repository"
### Description

### Steps to Reproduce

1. Just try to run composer install, or composer update

### Expected Result
Taxjar module is installed

### Actual Result
I see an error
`[Exception]
  Higher matching version 1.7.0 of taxjar/module-taxjar was found in public repository packagist.org
                               than 1.6.5 in private https://repo.magento.com. Public package might've been

[2021-10-08 13:03] sethobey commented on #210
Hi @gmarszal,

This message that you are receiving is due to the fact that we have just released v1.7.0 to Packagist.org and the Magento marketplace, but there is a waiting period (roughly 2 weeks) before the update version is available via marketplace.

Otherwise, I can assure you that v1.7.0 is the current release!

I'm going to close this issue now since the version conflict on "latest" should

[2021-10-08 13:08] #210 closed, assigned to nobody

[2021-11-10 04:54] lagunacellar commented on #194
We ran into the same issue. How come Taxjar has not released a fix 4 months after the initial report?

[2021-11-11 17:43] sethobey commented on #194
Thank you @bm-eventstable and @lagunacellar, this issue has been prioritized and a fix should be included in our next patch release.

[2021-11-17 20:20] sethobey commented on #157
Hello @slijack,

I'm closing this issue due to inactivity, but please feel free to reopen if you continue to experience this bug.

[2021-11-17 20:20] #157 closed

[2021-11-17 20:24] sethobey commented on #174
Hello @magemanish,

I am closing this issue since it has been inactive for 9 months and I am unable to confirm or reproduce the bug that you describe. Please feel free to reopen this issue if you are able to provide more detail so that we may replicate the error.

[2021-11-17 20:24] #174 closed, assigned to nobody

[2021-11-17 20:36] sethobey commented on #170
Hello @rsamartino

Thank you for your reporting this issue! I was able to reproduce the bug that you describe and will prioritize a fix. In the meantime, it appears that refreshing the browser will set the cached values again, dismissing the notification.

[2021-11-18 23:50] sethobey commented on #163
Hi @yavuz,
I am unable to reproduce this issue and will be closing it as we are currently at v1.7.1, but please feel free to re-open this ticket if you are still experiencing this problem!

[2021-11-18 23:50] #163 closed

[2021-11-18 23:59] sethobey commented on #173
Acceptance of #178 closes this issue.

[2021-11-18 23:59] #173 closed, assigned to nobody

[2021-12-06 18:53] #170 closed, assigned to nobody

[2021-12-10 20:03] ducto commented on #163
Hello,

I am having the exact same issue also with Magento 2.3, the version is 1.7, can you check?

Upgrading data... SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4-general' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_CODE', query was: INSERT INTO `eav_attribute_group` (`attribute_set_id`, `attribute_group_name`, `default_id`, `sort_order`, `attribute_gr

[2021-12-10 21:20] sethobey commented on #163
Hi @ducto,

I can't be sure if this is an issue with our extension based on the information provided, but a quick Google of that error would recommend taking a DB backup before removing the offending primary key entry and re-attempting the `setup:upgrade` command.

https://magento.stackexchange.com/questions/301570/integrity-constraint-violation-1062-duplicate-entry-magento-2-3-0

Best of luck!

[2021-12-12 18:32] ducto commented on #163
Hello @sethobey

Thank you for your feedback. The error post you shared is actually not related as in my case which is EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_CODE unique key of 2 field's values  '4-general'

I also tried to removed the rows with issue and found that taxjar extension creates new records with similar value pair (other fields values were different ) and after that, I ca

[2021-12-12 22:53] sethobey commented on #163
Hey @ducto,

Sorry to hear you're still having trouble with this!

I gave it another try and once again was unable to reproduce the described error. I've attached the console output log if you'd like to look, but I began by installing v1.4.9 via Composer, enabled the module, compiled, and ran setup. After verifying installation, use Composer to require updated version(s) of module, and ran the `se

[2021-12-15 18:21] ducto commented on #163
Hello @sethobey

Thank you for the hint. It seems that downgrade the extension to version v1.4.9 works as expected. We are further checking it and will keep you informed.

Yours sincerely

[2021-12-17 04:33] ducto commented on #163
Hello @sethobey

Even thought the version 1.4.9 works for us, unfortunately we cannot use it as that version does not have Sandbox option. Per feedback by email from support@taxjar.com team:

"
Thanks for reaching out to us here!

I reviewed your account and it looks like this option may be missing due to the version of our Magento Extension you're currently using.
This change was launched in our

[2021-12-20 02:57] ducto commented on #163
Hello @sethobey

I found that I am having issue even with version 1.4.9, in Admin portal, when I tried to go to Catalog -> Product and edit a product, I have error:

1 exception(s):
Exception #0 (ReflectionException): Class Taxjar\SalesTax\Model\Attribute\Source\Category does not exist

I did do php bin/magento setup:upgrade and php bin/magento setup:di:compile as usual. So I had to disable the mo

[2021-12-20 16:46] sethobey commented on #163
Hello @ducto

I apologize if my last reply wasn't clear enough, but I _do not suggest that you use v1.4.9_, I was only attempting to replicate the issue! Since the original issue was in upgrading from v1.4.9 -> v1.5.8, and you mentioned in your original comment that you were experiencing an issue with v1.7.x, I attempted installing v1.4.9, then upgrading from v1.4.9 -> v1.5.8 -> v1.7.0, but did no

[2021-12-21 11:14] ducto commented on #163
Hello @sethobey ,

Thank you for your feedback, yes, manually update extension's schema version to "1.0.6" directly in DB did the trick. Our Dev environment is at version 1.7 now and my manager is checking it, we will keep you informed if there is any further issue.

I am just curious that forced jumping schema version like that will ignore all the database changes from 1.0.3 (the version I had) t

[2021-12-21 16:07] sethobey commented on #163
Hello again @ducto,

Glad to hear that appears to have helped!

Without inspecting your database, I can't be _entirely_ certain, but I believe manually updating the version schema/data version entries in for the module should not cause any issues, because I believe the UpgradeData script has already been ran.

Take a look at the file `\Taxjar\SalesTax\Setup\UpgradeData.php`. You'll see it compares

[2021-12-22 11:17] nikulsynoptek opened #229 "Flate rate shipping not showing when tax apply for any state or zipcode from Nexus Addresses"
### Description

We have setup Taxjar_SalesTax module on our site and set up configurations for this module as per requirement.
We have used WA state for tax and added in Nexus Addresses from admin.
When we select WA state and zip code for WA then Flat rate shipping method not showing on the checkout page. If we select any other state then it's working fine.

### Steps to Reproduce

1. added produ

[2021-12-22 23:40] sethobey commented on #229
Hi @nikulsynoptek, thank you for reporting this issue! I have created an issue to investigate this internally and someone will follow up with findings or if any additional info is required.

In the meantime, are you be able to provide us with any other environmental or implementation details that might be helpful when trying to reproduce the issue, like what version of PHP are you using? What edit

[2021-12-30 20:07] beechyrb commented on #194
@sethobey When will this be included in a release? We started having these issues a few days ago and it is really frustrating for our customers. I will apply the patch for now.

[2022-01-03 15:27] sethobey commented on #194
Hi @beechyrb, soon! This fix will be included in our upcoming v1.8.0 release which is currently pending review for Magento marketplace release.

[2022-01-04 13:30] sethobey commented on #194
CC @beechyrb, @bm-eventstable, @lagunacellar

As of this morning, v1.8.0 is available on Marketplace and Packagist. Thanks everyone!

[2022-01-04 13:30] #194 closed, assigned to nobody

[2022-01-04 13:41] sethobey commented on #190
Hello @bheindl,

Our most recent v1.8.0 release now includes the option to "force" transaction records to sync, either from the UI or CLI. This feature will bypass the existing registry flag check, which should allow you to avoid the scenario detailed above. Please give it a try, as I believe it will solve the problem you are facing!

Closing this issue for now, but please feel free to re-open or

[2022-01-04 13:41] #190 closed, assigned to nobody

[2022-01-04 18:00] sethobey commented on #229
Hello again @nikulsynoptek,

My apologies that I didn't realize immediately, but looking at Magento's system requirements [here](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html), if you are using v1.4.9 of our extension this issue is likely environmental.

If you were trying to upgrade to latest (which at the time would've been v1.7.1), you will need to be using PHP 7.

[2022-01-05 18:41] sethobey commented on #229
Hi @nikulsynoptek, I'm going to close this issue for now, but if upgrading to compatible versions of Magento and PHP does not resolve your issue, please reopen this issue or reach out to our expert support team at support@taxjar.com!

[2022-01-05 18:41] #229 closed, assigned to nobody

[2022-01-05 18:49] sethobey commented on #168
Closed with acceptance of #182

[2022-01-05 18:49] #168 closed, assigned to nobody

[2022-01-05 18:52] sethobey commented on #142
Closed with acceptance of #182

[2022-01-05 18:52] #142 closed

[2022-01-05 19:39] sethobey commented on #185
Hello @syed-ziffity,

We have attempted to recreate this issue, but unfortunately cannot duplicate the described behavior. You can see in the screenshots below, that with either a single taxable product or multiple taxable products with discount, the tax amount calculated does resolve to the expected effective 13% tax rate.

![image](https://user-images.githubusercontent.com/47947793/148276780-646

[2022-01-05 19:39] #185 closed, assigned to nobody

[2022-02-10 15:45] sethobey commented on #181
Hi @cypher909,

Were you able to resolve this issue? I am unable to reproduce the behavior you describe.

I first attempted to recreate the issue by creating a controller action which would retrieve a product and call the code snippet you included above, but this did not result in an error, and I see the product's attributes displayed on the page.

Looking into the core code in `AbstractAttribute:

[2022-02-10 15:45] #181 closed, assigned to nobody

[2022-02-15 11:35] lbajsarowicz opened #242 "Allow for AMQP message queue configuration"
## Prerequisites
- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://www.taxjar.com/guides/integrations/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
TaxJar comes with MySQL queue type by default:
https://github.com/taxjar/taxjar-magento2-extensi

[2022-02-16 00:56] sethobey opened #243 "Transaction backfill invalid date argument names"
### Prerequisites

- [X] Are you running the latest version of our extension?
- [X] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [X] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

When running transaction backfill command with optional from or to date parameters, th

[2022-02-16 14:15] mikeastral opened #244 "Magento 2.3.2 not supported in version 1.8.0"
### Prerequisites

- [ ] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

On Magento 2.3.2, PHP 7.2: after installing version 1.8.0, manually or by composer the

[2022-02-16 17:31] sethobey commented on #244
Hi @mikeastral, thanks for reporting! We had originally moved to deprecate v2.3 with end of active support, but since Adobe's recent announcement of extended security support for v2.3 into Q3 of this year, we plan to also extend our v2.3 compatibility with the next minor release.

I will update/close this issue once the next M2 v2.3.x-compatible release is available.

[2022-02-16 22:13] #243 closed, assigned to sethobey

[2022-02-16 22:31] sethobey commented on #242
Hi @lbajsarowicz,

I believe we only intended to support the MySQL-adapter configuration that is included in the extension, so no testing was done with RabbitMQ or the like for compatibility.

I am aware though that official docs recommend using AMQP whenever possible, so while I hesitate to speak for the team, we are likely open to any fully-tested submission which would allow for AMQP configurat

[2022-02-18 00:21] sethobey opened #247 "Missing DI preference for Magento\Framework\Filesystem\DriverInterface"
### Prerequisites

- [X] Are you running the latest version of our extension?
- [X] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [X] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

Missing preference for interface `Magento\Framework\Filesystem\DriverInterface` in `Lo

[2022-02-18 00:21] #247 closed, assigned to sethobey

[2022-02-28 20:29] sethobey commented on #242
Hello @lbajsarowicz!

Wanted to share a public update here. After reviewing with the team, we would like to implement the suggested functionality, and plan to prioritize this issue in the near future.

Thanks for submitting!

[2022-02-28 20:40] sethobey commented on #97
Hello @dani97,

Unfortunately, due to API limitations, it appears that we are still unable to implement the requested multi-line street address validation feature in our Taxjar_SalesTax extension. I'm going to close this issue for now, but thank you for your submission!

[2022-02-28 20:40] #97 closed

[2022-03-02 15:39] sethobey commented on #244
Hello @mikeastral, our v1.9.0 release is out today and should resolve any 2.3-related incompatibilities. Thanks for reporting!

[2022-03-02 15:39] #244 closed, assigned to sethobey

[2022-03-07 09:08] mikeastral commented on #244
Thanks for your feedback, we just upgraded to v1.9.0

[2022-03-18 18:00] #242 closed, assigned to sethobey

[2022-03-25 20:08] lbajsarowicz opened #294 "Feature Request: Use Invoice date (not Order Placement)"
### Prerequisites
- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

One of my Clients has quite a specific Order flow, where Invoices are issued when the S

[2022-04-04 06:04] nickpiro opened #297 "PHP Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Filesystem\DriverInterface in /vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50"
Error after upgrading to 2.3.7. Causes category pages to break and products unable to be added to cart.
Error also stops any commands in CLI from running.

TaxJar 1.9.2
- [ ] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [ ] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Descript

[2022-04-04 18:15] sethobey commented on #297
Hello @nickpiro,

This issue was reported here: https://github.com/taxjar/taxjar-magento2-extension/issues/247
and should be resolved here: https://github.com/taxjar/taxjar-magento2-extension/pull/241

Are you able to verify that the `etc/di.xml` file in your `taxjar/module-taxjar` installation contains a preference `Magento\Framework\Filesystem\Driver\File` for argument `fileDriver`? If so, pleas

[2022-04-04 19:47] sethobey commented on #294
Hi @lbajsarowicz - It appears your issue with any implementation of a plugin/interceptor for that build method is due the fact that we are setting `$this->request` value in the `Order::build` method, and not actually using the returned value, so any modification to the return value in an "after" plugin implementation would be ignored.

I was able to work up a solution to this issue using an after

[2022-04-04 20:01] nickpiro commented on #297
That file does seem to be modified, correct. This is what I get when I compile:

Compilation was started.
Repositories code generation... 1/8 [===>------------------------]  12% < 1 sec 77.0 MiBPHP Fatal error:  Uncaught Error: Class 'Taxjar\SalesTax\Block\Adminhtml\PopupField' not found in /app/code/Taxjar/Salestax/Block/Adminhtml/Enabled.php:27
Stack trace:
#0 /setup/src/Magento/Setup/Module/Di/

[2022-04-04 20:44] sethobey commented on #294
I went ahead and validated my recommended solution for the use case of deleting the order via Postman API request and re-syncing from Magento 2 admin Sales Order view and you can see that the reporting month is now modified in TaxJar as well as the Order date.

<img width="1644" alt="image" src="https://user-images.githubusercontent.com/47947793/161628822-9fd2f7f4-37e1-40e9-befc-94f10f1cd84e.png">

[2022-04-04 21:10] sethobey commented on #297
@nickpiro - If the TaxJar files are in place as it appears based on the stack trace you've included, this error may indicate a file permissions issue. Are you able to verify the server or VM filesystem group and permissions? Sometimes those things can get mucked up when copying files via FTP or mounting/copying filesystems to Docker containers.

Also, if you are able to attempt it, do you observe

[2022-04-04 21:10] sethobey commented on #297
@nickpiro - If the TaxJar files are in place as it appears based on the stack trace you've included, this error may indicate a file permissions issue. Are you able to verify the server or VM filesystem group and permissions? Sometimes those things can get mucked up when copying files via FTP or mounting/copying filesystems to Docker containers.

Also, if you are able to attempt it, do you observe

[2022-04-05 18:53] #294 closed, assigned to sethobey

[2022-04-14 16:04] sethobey commented on #297
@nickpiro I'm closing this issue for now. Please feel free to re-open this issue or reach out to TaxJar support if you continue to experience the described error.

[2022-04-14 16:04] #297 closed, assigned to nobody

[2022-05-12 14:08] danmentzer opened #315 "Issue with sync transactions all zips fail"
### Prerequisites

- [x] Currently Running version 1.9.4

### Description
Currently when trying to run the transactions sync the sync says it is successful but no data can be found in taxjar.
After reviewing the transactions log the orders all hit errors of unsyncable or bad request saying the to zip does not match the state but the states do in fact have those zips.

### Steps to Reproduce

1. Sy

[2022-05-12 15:13] sethobey commented on #315
Hi @danmentzer, I know this must be quite frustrating, but unfortunately I was not able to reproduce this issue using Magento 2.4.3-p1 with PHP 7.4 or 2.4.4 with PHP 8.1.

You mention that you are setting "from" and "to" dates _then_ syncing, so I inferred that you are using the Transaction Backfill feature via adminhtml UI. Since our transaction backfill relies on the message queue, whether trigg

[2022-05-12 15:13] #315 closed, assigned to nobody

[2022-05-16 18:07] drew7721 opened #316 "Uninstalling the extension breaks functionality on the store - Missing `revert` function implementation."
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

Uninstalling the extensions breaks the functionality of the site. Unable to create new

[2022-05-16 19:53] #316 closed, assigned to nobody

[2022-05-16 20:07] sethobey commented on #316
Hi @drew7721, thank you reporting this issue! We should have a fix available hopefully by EOD today in the form of v1.9.5 which is awaiting marketplace approval now.

Thanks again!

[2022-05-16 21:38] sethobey commented on #316
Hello again @drew7721, v1.9.5 is now available and should resolve the issue. Thanks for reporting!

[2022-05-16 21:57] drew7721 commented on #316
Wow, amazing response and fix time! 👍🏻  Good job!

Thank you for fixing this

[2022-05-16 22:38] sethobey commented on #316
You're very welcome, always happy to help. Thanks again for contributing and thank you for choosing TaxJar!

[2022-05-27 11:05] webcreative24 opened #319 "PHP 8.1 compatibility"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
Please Fix the compatibility bug with PHP 8.1

### Steps to Reproduce

1. Crate new ord

[2022-05-27 13:59] sethobey commented on #319
Hi @webcreative24, thanks for reporting! I was able to verify the bug and plan to get the fix out as soon as possible.

[2022-05-27 19:15] sethobey commented on #319
@webcreative24 This issue should now be resolved by upgrading to v1.9.6. Thank you again for reporting!

[2022-05-27 19:15] #319 closed, assigned to nobody

[2022-06-03 16:18] beechyrb opened #322 "Improvement to Postcode Validation"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
We have had multiple instances where customers bypassed the tax calculation at the chec

[2022-06-03 19:57] sethobey-stripe commented on #322
Hi @beechyrb, thanks for reporting this issue! We'll take a look.

[2022-06-22 14:30] #322 closed, assigned to nobody

[2022-06-22 14:45] sethobey commented on #322
@beechyrb We were able to reproduce the issue and have implemented the fix you've described. It will be included in our next patch release v1.9.7. Thank you again for contributing!

[2022-07-05 20:37] drew7721 opened #326 "Invalid Argument Type in `QuoteManagement::afterSubmit` Plugin"
I just ran into a small issue when attempting to place an order.

For some business logic reasons in our implementation of the checkout we have been forced to create our own implementation of the `CartManagementInterface`. This means that when this gets executed it throws a type error.

So, instead of `QuoteManagementEntity` I believe it would be best to expect `\Magento\Quote\Api\CartManagementIn

[2022-07-06 13:41] sethobey commented on #326
@drew7721 I can certainly see how that plugin method signature would conflict with a custom implementation. We'll get your fix reviewed and follow up there. Thank you for taking the time to submit this issue!

[2022-07-06 15:33] drew7721 commented on #326
Thank you. In the /pull/327 I did not remove the double addition of the plugin https://github.com/taxjar/taxjar-magento2-extension/blob/7981a00919780ec4acf9ae35b4f2a42a65a4b714/etc/di.xml#L55-L57

<img width="1093" alt="image" src="https://user-images.githubusercontent.com/9411699/177588050-3d48289e-0808-4ca4-8e77-9691de20716d.png">

Not sure if there was any specific reason for that to be added t

[2022-07-11 23:29] #326 closed, assigned to sethobey

[2022-08-04 05:26] raghuiamsingh commented on #326
@sethobey we upgraded to the latest version of TaxJar module (v1.9.8) and still getting the same error.

`Argument 2 passed to Taxjar\SalesTax\Plugin\Quote\Model\QuoteManagement::afterSubmit() must implement interface Magento\Sales\Api\Data\OrderInterface, null given, called in /var/www/releases/release-test/vendor/magento/framework/Interception/Interceptor.php on line 146`

Please advise.

[2022-08-04 06:44] sethobey commented on #326
Hi @raghuiamsingh, thank you for continuing this issue!

The error you are receiving appears to be due to the afterSubmit plugin method's type hinting. Although `Magento\Quote\Model\QuoteManagement::submit()` should generally return an order, in cases of failure or invalid cart contents, it _can_ return null. I see that we will also need to modify our plugin's second parameter to allow for potenti

[2022-08-04 06:57] raghuiamsingh commented on #326
@sethobey Thanks for the prompt reply. I am going to try the change in PR https://github.com/taxjar/taxjar-magento2-extension/pull/331

[2022-08-04 11:41] raghuiamsingh commented on #326
@sethobey I tried your change, I did fix the first error but now its giving another error:
`Return value of Taxjar\SalesTax\Plugin\Quote\Model\QuoteManagement::afterSubmit() must implement interface Magento\Sales\Api\Data\OrderInterface, null returned`

I think you need to allow null in return as well, like you did for the second parameter.

[2022-08-04 12:02] sethobey commented on #326
@raghuiamsingh - My apologies, and thank you for validating! I've updated #331 to account for the nullable return type and added a unit test for the nullable return as well.

[2022-08-04 14:57] sethobey commented on #183
Hi @rangerz I know this issue has been outstanding for awhile, but taking a look now, it appears that possibly part of this issue has been resolved in various address-validation-related changes since the original issue report.

As an existing user with a pre-existing non-validated address w/ only 5 digit zip code: Upon navigating to checkout, I observed that the "Suggested Address" block was rende

[2022-08-04 14:57] #183 closed, assigned to nobody

[2022-08-18 18:40] woodja opened #336 "API Version 2022-01-24"
### Prerequisites

- [X] Are you running the latest version of our extension?
- [X] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [X] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
We received an email alerting us that API version 2020-08-07 is no longer supported, bu

[2022-08-19 13:36] sethobey commented on #336
@woodja - Thank you for taking the time to report this issue. No need to fear though, our API is backwards compatible, so requests will continue to succeed when passing previous versions in the header.

Looking into the upcoming API version changes, we found that updates primarily involve product tax code validation. Since our extension already restricts product tax code input, we wouldn't realize

[2022-08-19 13:36] #336 closed, assigned to nobody

[2022-08-19 16:01] woodja commented on #336
@sethobey Thanks for the clarification and quick reply. We got quite the do or die email this week. It would have been helpful if it included a list of deprecated and discontinued API versions rather than saying we had to upgrade to the latest version.

[2022-08-20 03:18] sethobey commented on #336
I'm terribly sorry for the miscommunication on our part @woodja! I hope it hasn't caused too much disruption on your end and I'll be sure to pass your feedback along to our team responsible for those communications.

[2022-09-02 06:50] greezlu opened #337 "Unable to disconnect with Sandbox mode enabled"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

### Steps to Reproduce
1. Connect to TaxJar account.
2. Enter sandbox key.
3. Enable S

[2022-09-02 16:04] sethobey commented on #337
@greezlu Thank you for the detailed issue report! We will be sure to include a fix in the next release 👍

To anyone experiencing this issue, this error can be resolved by clearing the TaxJar sandbox API key value using the CLI command: `bin/magento config:set tax/taxjar/sandbox_apikey ''`

Edit: Will also require command `bin/magento config:set tax/taxjar/sandbox 0` to ensure Sandbox mode is not e

[2022-09-08 19:29] #337 closed, assigned to sethobey

[2022-09-21 03:24] khoimm92 commented on #161
This need to reopen or open a new issue. I got the same error when filtering orders by date (on the sales grid).
Update: I opened a new issue here https://github.com/taxjar/taxjar-magento2-extension/issues/341

[2022-09-21 13:03] sethobey commented on #161
Hi @khoimm92, sorry to hear this issue has persisted for you! We will look into this and follow up

[2022-09-21 15:01] khoimm92 opened #341 "Error when filtering Order grid by date"
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description

Can't filter the orders by Purchase date.

### Steps to Reproduce
1. Go to the sales o

[2022-09-21 15:40] sethobey commented on #341
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/47947793/191549102-97a7ac82-ce64-4af3-b0b7-4a90453e61d3.png">

[2022-09-29 15:32] #341 closed, assigned to sethobey

[2022-11-06 17:46] aholovan opened #348 "Address validation fixes and some improvements in user experience."
### Prerequisites

- [x] Are you running the latest version of our extension?
- [x] Have you reviewed our [integration guide](https://developers.taxjar.com/integrations/guides/magento2/)?
- [x] Did you search through [existing issues](https://github.com/taxjar/taxjar-magento2-extension/issues)?

### Description
Here is the patch I had to implement for some client, it contains some improvements in

[2022-11-17 18:16] djamps opened #349 "Magento 2.2 support"
It appears Magento 2.2.x not supported?   Is there any workaround?

bash-4.1$ bin/magento setup:di:compile
Compilation was started.
Repositories code generation... 1/7 [====>-----------------------]  14% < 1 sec 74.5 MiBPHP Fatal error:  Interface 'Magento\Framework\Setup\Patch\DataPatchInterface' not found in /var/www/html_mage2/app/code/Taxjar/SalesTax/Setup/Patch/Data/ImportTaxCategoriesPatch.p

[2022-11-18 17:34] saville-stripe commented on #349
Hey @djamps,

Magento 2.2 reached end-of-life around three years ago. The only option to continue using an unsupported version of Magento would be to require the TJ extension @ v1.6.5 or earlier.

[2022-11-18 17:37] djamps commented on #349
Thank you!

[2022-11-18 17:37] #349 closed, assigned to nobody